.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes
!composer.json


#==================#
#    Log files     #
#==================#
*.log
error_log
access_log
.sass-cache


#===================================#
#       Config. and npm Files       #
#===================================#
local-config.php
# wp-config.php
node_modules



## Main Stuff ##
#===================================#
#     WP Core, except content       #
#===================================#
/*
!.env.example
!.gitignore
!wp-content/
# !media/
!favicon.ico
!favicon.png
!humans.txt
!composer.json

#=============================================#
#     wp-content, except plugins and themes   #
#=============================================#
wp-content/*
!wp-content/plugins/
# !wp-content/uploads ##=> It's a good idea to ignore uploads, especially if you are using git to deploy to live/dev environments. Un-comment this line to 'watch' uploads


## Use these to get more specific ##
#===========================#
#      Specific Plugins     #
#===========================#
wp-content/plugins/*
!wp-content/plugins/app-init/

#===========================#
#     Specific Themes       #
#===========================#
# wp-content/themes/*
# !wp-content/themes/my-theme/


## Depreciated stuff, keeping here for reference ##

##### design files #####
# *.psd

##### CACHE #####
# wp-content/cache/
# wp-content/advanced-cache.php
# wp-content/wp-cache-config.php
!.github
!_wp-config-env.php
!app
